:root {
  --cherry: rgb(143, 24, 72);
  --cherry-dark: rgb(92, 4, 38);
  --green: rgb(0, 107, 112);
  --blue: rgb(0, 92, 184);
  --off-white: rgb(252, 241, 241);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: var(--cherry);
  font-family: sans-serif;
}
